img {
  width: 75vw;
  border-radius: 20px;
}

.profile_image {
  max-width: 15vw;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; 
  margin: 0;
  padding: 0;
  li {
    margin: 2px;
    display: inline-block;
    
  }
}
li:nth-child(even) {
  display: none ;
}

.hidden {
  display: none;
}

// .bigred {
//   min-width: 400px;
//   color: red;
// }

* {
  display: flex;
  flex-direction: column;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
* button{
  transition: transform 0.2s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
}
style {
  display: none;
}

title {
  display: none;
}

head {
  display: none;
}

a {
  display: flex;
  align-items: center;
}

.hashtags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center ;
  p {
    margin: 0px, 10px, 0px, 10px;
  }
}

.posttext {
  margin: 5vw 5vw 5vw 5vw;
}

.onehashtag {
  margin: 5px;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
  max-height: 30px;
  background-color: darkgrey;
}

p {
  margin: inherit;
  padding: none;
  color: black;
}

.postname {
  align-items: center;
  font-size: 5vw;
  font-weight: bolder;
}

.pairbuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  button {
    background-color: rgb(172, 142, 191);
    margin: 2vw 2vw 2vw 2vw;
    padding: 0 5vw 0 5vw;
    border-radius: 5px;
    border: none;
    height: 25px;
    justify-content: space-around;
    color: white;
  }
}
.commentimage {
  display: flex;
  align-self: center;
}
.commentheader {
  display: flex;
  flex-direction: row;
  margin: 2vw 5vw 2vw 5vw;
  justify-content: space-around;
  img, h5 {
    margin: 1vw;
  }
  h5 {
    align-self: center;
    text-align: center;

  }
}

.commentdiv {
  border: 1px solid black;
  margin: 2vw;
  border-radius: 20px;
}

.nothappy {
  margin-top: 2vw;
  padding: 0 5vw 0 5vw;
  text-align:center
}

.background {
  background-color: white;
  margin: 2vw 5vw 2vw 5vw;
}

.separator {
  border: 4px solid grey;
  border-radius: 20px;
  margin: 1vw 3vw 1vw 3vw;
}

.commenttextinput {
  width: 75vw;
  height: 15vw;
  align-self: center;
}

.commenttextlabel {
  width: 75vw;
  height: 4vh;
  align-self: center;
}